
<div class = "banner">
    <div class="recipe-form">
        <app-search></app-search>
    </div>
    <div>    <p class="testp">
        title: Elegant Chicken in Sour Cream</p>

<p class="testp">Package Together |2 oz Freeze-Dried Chicken, Or|4 oz Chicken-Flavored T.V.P.|4 Chicken Bouillon Cube, Or|1/4 c Chicken Bouillon Granules|8 oz Pasta, Enriched|1 ts Dill Weed| Package Sepatately |1 Env Cream Of Onion Soup Mix|To make 2 1/2 cups|8 oz Sour Cream Mix|1/2 c Sliced Almonds|2 oz Freeze-Dried Peas|8 c Water,

    servings: 4 Servings,</p>  

<p class="testp">instructions: 1. Bring 7 cups of water to boiling, add pasta-chicken package, and simmer for 10 minutes, stirring occasionally. Add peas, at the end, for the amount of time recommended on their package. 2. Mix soup mix with 1/2 cup of water. Pour into pot while stirring, and simmer 5-10 minutes more, or until pasta and chicken are tender. 3. Reconstitute sour cream mix with cold water, stir into the pot. Serve sprinkled with almonds on top. Makes about 8 cups.
    </p>
</div>
</div>