<div class="spacingcard">
<mat-card class="cardwide">
    <mat-card-header class="spacingcard">
        <mat-card-title>{{creatorName}}</mat-card-title>
        <!-- <mat-card-subtitle>{{creatorDescription}}</mat-card-subtitle> -->
    </mat-card-header>
    <img class="imgpost" mat-card-image src="{{postData?.imageUrl}}">

    <mat-card-actions>
        <mat-icon class="action-item" color="warn">chat_bubble_outline</mat-icon>
        <mat-icon class="action-item" color="warn">favorite_border</mat-icon>
        <mat-icon class="action-item" color="warn">save</mat-icon>
    </mat-card-actions>

    <mat-card-content>
        {{postData?.comment}}
    </mat-card-content>
</mat-card>
</div>